---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=<API_KEY>&id=<API_KEY>&lat=40.7128&lon=-74.006&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1728486000,"main":{"temp":60.13,"feels_like":58.42,"temp_min":60.13,"temp_max":63.09,"pressure":1014,"sea_level":1014,"grnd_level":1012,"humidity":55,"temp_kf":-1.64},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"clouds":{"all":75},"wind":{"speed":8.93,"deg":299,"gust":12.66},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2024-10-09
        15:00:00"},{"dt":1728496800,"main":{"temp":61.99,"feels_like":60.13,"temp_min":61.99,"temp_max":65.7,"pressure":1013,"sea_level":1013,"grnd_level":1010,"humidity":48,"temp_kf":-2.06},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"clouds":{"all":74},"wind":{"speed":11.65,"deg":263,"gust":16.84},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2024-10-09
        18:00:00"},{"dt":1728507600,"main":{"temp":63.86,"feels_like":61.74[...]
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=&lat=40.7128&lon=-74.006
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":401, "message": "Invalid API key. Please see https://openweathermap.org/faq#error401
        for more info."}'
  recorded_at: Wed, 09 Oct 2024 14:14:29 GMT
recorded_with: VCR 6.3.1
