---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1600%20Amphitheatre%20Parkway,%20Mountain%20View,%20CA&key=AIzaSyDG-FrpSf88xFZVrs-c0zhEHosvDEvqUXc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - San Jose, CA
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"1600\",\n
        \              \"short_name\" : \"1600\",\n               \"types\" : \n               [\n
        \                 \"street_number\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Amphitheatre Parkway\",\n               \"short_name\"
        : \"Amphitheatre Pkwy\",\n               \"types\" : \n               [\n
        \                 \"route\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Mountain View\",\n               \"short_name\"
        : \"Mountain View\",\[...]
