---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=90210,US&key=AIzaSyDG-FrpSf88xFZVrs-c0zhEHosvDEvqUXc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Los Angeles, CA
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"90210\",\n
        \              \"short_name\" : \"90210\",\n               \"types\" : \n
        \              [\n                  \"postal_code\"\n               ]\n            },\n
        \           {\n               \"long_name\" : \"Beverly Hills\",\n               \"short_name\"
        : \"Beverly Hills\",\n               \"types\" : \n               [\n                  \"locality\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Los Angeles County\",\n               \"short_name\"
        : \"Los Angeles County\",\n               \"types\" : \n               [\n
        \                 \"administrative_area_level_2\",\n                  \"political\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"California\",\n               \"short_name\" : \"CA\",\n               \"types\"
        : \n               [\n                  \"administrative_area_level_1\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"United States\",\n               \"short_name\"
        : \"US\",\n               \"types\" : \n               [\n                  \"country\",\n
        \                 \"political\"\n               ]\n            }\n         ],\n
        \        \"formatted_address\" : \"Beverly Hills, CA 90210, USA\",\n         \"geometry\"
        : \n         {\n            \"bounds\" : \n            {\n               \"northeast\"
        : \n               {\n                  \"lat\" : 34.1354771,\n                  \"lng\"
        : -118.3867129\n               },\n               \"southwest\" : \n               {\n
        \                 \"lat\" : 34.065094,\n                  \"lng\" : -118.4423781\n
        \              }\n            },\n            \"location\" : \n            {\n
        \              \"lat\" : 34.1030032,\n               \"lng\" : -118.4104684\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : \n            {\n               \"northeast\" : \n               {\n                  \"lat\"
        : 34.1354771,\n                  \"lng\" : -118.3867129\n               },\n
        \              \"southwest\" : \n               {\n                  \"lat\"
        : 34.065094,\n                  \"lng\" : -118.4423781\n               }\n
        \           }\n         },\n         \"place_id\" : \"ChIJ7xfS-zW8woARXNkAJzX5Hs8\",\n
        \        \"postcode_localities\" : \n         [\n            \"Beverly Hills\",\n
        \           \"Los Angeles\"\n         ],\n         \"types\" : \n         [\n
        \           \"postal_code\"\n         ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Wed, 09 Oct 2024 02:55:34 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=<OPENWEATHER_API_KEY>&id=<OPENWEATHER_API_KEY>&lat=34.1030032&lon=-118.4104684&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1728442800,"main":{"temp":74.95,"feels_like":74.3,"temp_min":73.08,"temp_max":74.95,"pressure":1010,"sea_level":1010,"grnd_level":986,"humidity":46,"temp_kf":1.04},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":3.2,"deg":190,"gust":2.64},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2024-10-09
        03:00:00"},{"dt":1728453600,"main":{"temp":73.62,"feels_like":72.93,"temp_min":70.93,"temp_max":73.62,"pressure":1011,"sea_level":1011,"grnd_level":987,"humidity":48,"temp_kf":1.49},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"clouds":{"all":0},"wind":{"speed":2.8,"deg":181,"gust":3.36},"visibility":10000,"pop":0,"sys":{"pod":"n"},"dt_txt":"2024-10-09
        06:00:00"},{"dt":1728464400,"main":{"temp":71.91,"feels_like":71.15,"temp_min[...]
