---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=90210,US&key=AIzaSyDG-FrpSf88xFZVrs-c0zhEHosvDEvqUXc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Los Angeles, CA
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"90210\",\n
        \              \"short_name\" : \"90210\",\n               \"types\" : \n
        \              [\n                  \"postal_code\"\n               ]\n            },\n
        \           {\n               \"long_name\" : \"Beverly Hills\",\n               \"short_name\"
        : \"Beverly Hills\",\n               \"types\" : \n               [\n                  \"locality\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Los Angeles County\",\n               \"short_name\"
        : \"Los Angeles County\",\n               \"types\" : \n               [\n
        \                 \"administrative_area_level_2\",\n                  \"political\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"California\",\n               \"short_name\" : \"CA\",\n               \"types\"
        : \n               [\n                  \"administrative_area_level_1\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"United States\",\n               \"short_name\"
        : \"US\",\n               \"types\" : \n               [\n                  \"country\",\n
        \                 \"political\"\n               ]\n            }\n         ],\n
        \        \"formatted_address\" : \"Beverly Hills, CA 90210, USA\",\n         \"geometry\"
        : \n         {\n            \"bounds\" : \n            {\n               \"northeast\"
        : \n               {\n                  \"lat\" : 34.1354771,\n                  \"lng\"
        : -118.3867129\n               },\n               \"southwest\" : \n               {\n
        \                 \"lat\" : 34.065094,\n                  \"lng\" : -118.4423781\n
        \              }\n            },\n            \"location\" : \n            {\n
        \              \"lat\" : 34.1030032,\n               \"lng\" : -118.4104684\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : \n            {\n               \"northeast\" : \n               {\n                  \"lat\"
        : 34.1354771,\n                  \"lng\" : -118.3867129\n               },\n
        \              \"southwest\" : \n               {\n                  \"lat\"
        : 34.065094,\n                  \"lng\" : -118.4423781\n               }\n
        \           }\n         },\n         \"place_id\" : \"ChIJ7xfS-zW8woARXNkAJzX5Hs8\",\n
        \        \"postcode_localities\" : \n         [\n            \"Beverly Hills\",\n
        \           \"Los Angeles\"\n         ],\n         \"types\" : \n         [\n
        \           \"postal_code\"\n         ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Wed, 09 Oct 2024 14:11:19 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=<API_KEY>&id=<API_KEY>&lat=34.1030032&lon=-118.4104684&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":"200","message":0,"cnt":40,"list":[{"dt":1728486000,"main":{"temp":62.11,"feels_like":61.97,"temp_min":62.11,"temp_max":69.98,"pressure":1013,"sea_level":1013,"grnd_level":988,"humidity":84,"temp_kf":-4.37},"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"clouds":{"all":100},"wind":{"speed":0.96,"deg":226,"gust":1.23},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2024-10-09
        15:00:00"},{"dt":1728496800,"main":{"temp":67.35,"feels_like":66.94,"temp_min":67.35,"temp_max":77.85,"pressure":1013,"sea_level":1013,"grnd_level":989,"humidity":67,"temp_kf":-5.83},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"clouds":{"all":67},"wind":{"speed":4.52,"deg":203,"gust":2.42},"visibility":10000,"pop":0,"sys":{"pod":"d"},"dt_txt":"2024-10-09
        18:00:00"},{"dt":1728507600,"main":{"temp":74.77,"feels_like":74.19,"[...]
[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/forecast?appid=&lat=34.1030032&lon=-118.4104684
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":401, "message": "Invalid API key. Please see https://openweathermap.org/faq#error401
        for more info."}'
  recorded_at: Wed, 09 Oct 2024 14:14:29 GMT
recorded_with: VCR 6.3.1
